<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>thymeleaf简单示例</title>
</head>
<body>
<h1>Hello Thymeleaf</h1>

<table class="">
    <tr>
        <td>作者</td>
        <td>教程名称</td>
        <td>内容</td>
    </tr>
    <!-- 用thymeleaf语法遍历articles列表-->
    <tr th:each="item : ${articles}">
        <td th:text="${item.author}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.content}"></td>
    </tr>
</table>

<section>第二段 迭代循环和条件判断</section>

<table class="">
    <tr>
        <td>下标</td>
        <td>序号</td>
        <td>作者</td>
        <td>教程名称</td>
        <td>内容</td>
    </tr>
    <!-- 用thymeleaf语法遍历articles列表-->
    <div th:if="${articles}">
        <div>的确存在..</div>
        <tr th:each="item,stat : ${articles}" th:style="${stat.even}?'background-color:blue':'background-color:red'">
            <div th:if="${stat.index == 0}">
                <td th:text="${stat.index}"></td>
            </div>
            <td th:text="${stat.count}"></td>
            <td th:text="${item.author}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${item.content}"></td>
        </tr>
    </div>
</table>




<form id="userForm">
    <input id="id" name="id" th:value="${user.id}"/>
    <input id="username" name="username" th:value="${user.username}"/>
    <input id="password" name="password" th:value="${user.password}"/>
    <input name="name" th:value="${'I am '+(user.username!=null?user.username:'NoBody')}"/>

</form>

<div th:text="hello"></div>

<div th:text="${articles[0].author}"></div>

<img th:src="@{/image/template.png}">

<section>第三段 内置对象与工具类</section>
<div th:text="${#locale.getLanguage() + '_' + #locale.getCountry()}"></div>

<div th:text="${session.foo}?:('zoo')"></div>
<div th:text="${session.size()}"></div>
<div th:text="${session.isEmpty()}"></div>
<div th:text="${session.containsKey('foo')}"></div>


<table class="">
    <tr>
        <td>作者</td>
        <td>教程名称</td>
        <td>内容</td>
        <td>日期1</td>
    </tr>
    <!-- 用thymeleaf语法遍历articles列表-->
    <tr th:each="item : ${articles}">
        <td th:text="${#strings.capitalizeWords(item.author)}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.content}"></td>
        <td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
</table>
</body>
</html>